{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title%}{% endblock %} - prepas</title>
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <article class="mentions-bottom">
            <a href="Mentions.html">Mentions légales</a> <br>
            Copyright © Elouan Deschamps<br>
            Le code source de ce site est publié sous license 
            <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">
              GNU Affero General Public Licence version 3.0 <br>
              <img src="https://www.gnu.org/graphics/agplv3-88x31.png" alt="agplv3"> <br>
            </a>
            il est diponible sur <a href="https://github.com/elouan660/prepas-scientifiques">Github</a>
    </body>
</html>