{% extends "prepa/base.html" %}

{% block title %}
Test
{% endblock %}

{% block content %}
<div class="grid">
    <div class="right">
        <h1>Bienvenue sur prépas scientifiques</h1>
        <ul class="form">
            <li>Filière <input type="text"></li>
            <li>Département <input type="text"></li>
            <li>Nom <input type="text"></li>
        </ul>
    </div>
    <div class="left">
        <h2>Carte</h2>
    </div>
    <div>
        <h2>Liste</h2>
    </div>
</div>
{% endblock %}

