{% extends "prepa/base.html" %}

{% block title %}
Test
{% endblock %}

{% block content %}
<div class="grid">
    <div>
        <h1>Bienvenue sur prépas scientifiques</h1>
        <form method="post">
            <ul class="form">
                <li>Filière <input type="text"></li>
                <li>Département <input type="text"></li>
                <li>Nom <input type="text"></li>
                <li><button>Rechercher</button></li>
            </ul>
        </form>
    </div>
    <div>
        <h2>Carte</h2>
        <div id="map" class="map">map</div>
    </div>
    <div>
        <h2>Liste</h2>
        <article class="scroller">
            <section>
                <h2>Lycée Livet</h2>
            </section>
            <section>
                <h2>Lycée Clemenceau</h2>
            </section>
            <section>
                <h2>Lycée Lesage</h2>
            </section>
        </article>
    </div>
    <div>
        <h2>Statistiques</h2>
    </div>
</div>
{% endblock %}

